<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>
    
    <div class="content">
        <p>Hello, {{user1.name}}! Welcome to the application.</p>
        <p>Hello, {{user2.name}}! Welcome to the application.</p>
    </div>
    <div>
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <input type="submit" value="upload">
        </form>
    </div>
    {{#if imageUrl}}
        <div>
            <h2>Your Uploaded Image</h2>
            <img src="{{imageUrl}}" alt="Uploaded Avatar" style="max-width: 200px;">
        </div>
    {{/if}}
</body>
</html>